.navbar-container {
    /* Other colors:
        darkNavy: #30394d;
    */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #30394d;
    margin: 0 auto; /* This will center the border. */
    width: 100%;
    border-bottom: 1px solid #eee;
    height: 70px;
    z-index: 999;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.navbar-menu {
    display: none;
}

.navbar-menu:hover {
    cursor: pointer;
}

.navbar-title {
    cursor: pointer;
    font-size: 25px;
    font-weight: 620;
    margin-left: 90px;
}

.navbar-icons-container {
    margin-right: 90px;
    height: 32px;
}

.navbar-icon {
    color: #eee;
    padding: 0px 4px 0px 4px;
}

.navbar-icon:hover {
    cursor: pointer;
}


/* ---Mobile view adjustments--- */


@media only screen and (max-width: 840px) {

    .navbar-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background-color: #30394d;
        margin: 0 auto; /* This will center the border. */
        border-bottom: 1px solid #eee;
        height: 70px;
        z-index: 999;
        padding-left: 16px;
    }

    .navbar-menu {
        display: block;
    }

    .navbar-title {
        font-size: 21px;
        margin-left: 0px;
        flex-grow: 1;
        text-align: center;
    }

    .navbar-link {
        display: none;    
    }
    .navbar-icons-container {
        display: none;
    }
}


