.navbar-container {
    /* Other colors:
        darkNavy: #30394d;
    */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #30394d;
    margin: 0 auto; /* This will center the border. */
    width: 98%;
    border-bottom: 1px solid #eee;
    height: 70px;
    z-index: 999;
}

.navbar-title {
    cursor: pointer;
    font-size: 25px;
    font-weight: 620;
    margin-left: 90px;
}

.navbar-icons-container {
    margin-right: 90px;
    height: 32px;
}

.navbar-icon {
    color: #eee;
    padding: 0px 4px 0px 4px;
}

.navbar-icon:hover {
    cursor: pointer;
}


/* ---Mobile view adjustments--- */


@media only screen and (max-width: 600px) {

    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #30394d;
        margin: 0 auto; /* This will center the border. */
        border-bottom: 1px solid #eee;
        height: 70px;
        z-index: 999;
    }

    .navbar-title {
        font-size: 23px;
        margin-left: 0px;
    }
    .navbar-icons-container {
        display: none;
    }
}


